<<<<<<< HEAD
<h3>Calculadora Profissional 233</h3>
=======
<h3>Calculadora Profissional5</h3>
>>>>>>> f9e17624694848692fb2ff07bd5520b22172af3c

<ul>
	<li>
		<a href="/somar">Somar</a>
	</li>
	<li>
		<a href="/subtrair">Subtrair</a>
	</li>
	<li>
		<a href="/multiplicar">Multiplicar</a>
	</li>
	<li>
		<a href="/dividir">Dividir</a>
	</li>
</ul>
